<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipsPls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E1C6D351E4E86BE00663E15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E1C6D491E4E86C000663E15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E1C6D541E4E86C000663E15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
